CREATE DATABASE Minhttph03716QLBH
-- Created by Vertabelo (http://vertabelo.com)
-- Last modification date: 2016-01-21 11:53:42.621




-- tables
-- Table: CHITIETHOADON
CREATE TABLE CHITIETHOADON (
    MAHD varchar(10)  NOT NULL,
    MASP varchar(10)  NOT NULL,
    GIASP money  NOT NULL,
    SL int  NOT NULL,
    CONSTRAINT CHITIETHOADON_pk PRIMARY KEY  (MAHD,MASP)
)
;





-- Table: HOADON
CREATE TABLE HOADON (
    MAHD varchar(10)  NOT NULL,
    MAKH varchar(10)  NOT NULL,
    NGAY datetime  NULL,
    CONSTRAINT HOADON_pk PRIMARY KEY  (MAHD)
)
;





-- Table: KHACHHANG
CREATE TABLE KHACHHANG (
    MAKH varchar(10)  NOT NULL,
    TENKH nvarchar(30)  NOT NULL,
    DIACHI varchar(50)  NOT NULL,
    SDT nvarchar(20)  NULL,
    EMAIL varchar(30)  NULL,
    CONSTRAINT KHACHHANG_pk PRIMARY KEY  (MAKH)
)
;





-- Table: LOAISANPHAM
CREATE TABLE LOAISANPHAM (
    MASP varchar(10)  NOT NULL,
    TENLOAISP varchar(30)  NOT NULL,
    SL int  NOT NULL,
    CONSTRAINT LOAISANPHAM_pk PRIMARY KEY  (MASP)
)
;





-- Table: SANPHAM
CREATE TABLE SANPHAM (
    MASP varchar(10)  NOT NULL,
    GIASP money  NOT NULL,
    MOTASP varchar(30)  NOT NULL,
    CONSTRAINT SANPHAM_pk PRIMARY KEY  (MASP)
)
;









-- foreign keys
-- Reference:  CHITIETHOADON_HOADON (table: CHITIETHOADON)

ALTER TABLE CHITIETHOADON ADD CONSTRAINT CHITIETHOADON_HOADON 
    FOREIGN KEY (MAHD)
    REFERENCES HOADON (MAHD)
;

-- Reference:  CHITIETHOADON_SANPHAM (table: CHITIETHOADON)

ALTER TABLE CHITIETHOADON ADD CONSTRAINT CHITIETHOADON_SANPHAM 
    FOREIGN KEY (MASP)
    REFERENCES SANPHAM (MASP)
;

-- Reference:  HOADON_KHACHHANG (table: HOADON)

ALTER TABLE HOADON ADD CONSTRAINT HOADON_KHACHHANG 
    FOREIGN KEY (MAKH)
    REFERENCES KHACHHANG (MAKH)
;

-- Reference:  SANPHAM_LOAISANPHAM (table: SANPHAM)

ALTER TABLE SANPHAM ADD CONSTRAINT SANPHAM_LOAISANPHAM 
    FOREIGN KEY (MASP)
    REFERENCES LOAISANPHAM (MASP)
;





-- End of file.
---Nhập Dữ Liệu
--- Bảng Khách Hàng
INSERT INTO KHACHHANG VALUES ('KH01', N'Trần Tuấn Minh', 'Ha Noi', N'0962061996','minhttph03716@fpt.edu.vn')
INSERT INTO KHACHHANG VALUES ('KH02', N'Phạm Thanh Tùng', 'Ninh Binh', N'0962561996','tungptph@fpt.edu.vn')
INSERT INTO KHACHHANG VALUES ('KH03', N'Trần Thị Hằng', 'Nghe An', N'0992061996','hangttph@fpt.edu.vn')
SELECT *FROM KHACHHANG

--- Bảng Hóa Đơn
INSERT INTO HOADON VALUES ('HD01','KH01','1/1/2015')
INSERT INTO HOADON VALUES ('HD02','KH02','1/1/2015')
INSERT INTO HOADON VALUES ('HD03','KH03','1/1/2015')
SELECT *FROM HOADON

--- Bảng Loại Sản Phẩm
INSERT INTO LOAISANPHAM VALUES ('SP01','LOAI1','1')
INSERT INTO LOAISANPHAM VALUES ('SP02','LOAI2','2')
INSERT INTO LOAISANPHAM VALUES ('SP03','LOAI3','3')
SELECT *FROM LOAISANPHAM

--- Bảng Sản Phẩm
INSERT INTO	SANPHAM VALUES ('SP01','10000','TOT')
INSERT INTO	SANPHAM VALUES ('SP02','20000','TOT')
INSERT INTO	SANPHAM VALUES ('SP03','30000','TOT')
SELECT *FROM SANPHAM

--- Bảng Chi Tiết Hóa Đơn
INSERT INTO CHITIETHOADON VALUES ('HD01','SP01','10000','1')
INSERT INTO CHITIETHOADON VALUES ('HD02','SP02','20000','2')
INSERT INTO CHITIETHOADON VALUES ('HD03','SP03','30000','3')
SELECT *FROM CHITIETHOADON

---Kiểm tra dữ liệu nhập
SELECT *FROM KHACHHANG
SELECT *FROM HOADON
SELECT *FROM LOAISANPHAM
SELECT *FROM SANPHAM
SELECT *FROM CHITIETHOADON
